.slider {
  background-image: url("../img/slider-background.png");
  height: 800px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto; }
  @media only screen and (max-width: 992px) {
    .slider {
      height: 600px; } }
  @media only screen and (max-width: 768px) {
    .slider {
      height: 500px; } }
  .slider__header {
    background-color: white;
    max-height: 82px; }
    .slider__header--logo {
      padding: 15px 20px;
      border: 2px solid #f34739;
      border-bottom-right-radius: 20%;
      border-bottom-left-radius: 20%;
      border-top-left-radius: 20%;
      font-family: "Dosis", sans-serif;
      font-weight: 300;
      font-size: 25px;
      margin-left: 10%;
      line-height: 3.5;
      letter-spacing: 5px; }
    .slider__header--link {
      float: right; }
      .slider__header--link .facebook, .slider__header--link .instagram, .slider__header--link .twitter, .slider__header--link .linkedin {
        background-image: url("../img/slider-sprites.png");
        background-repeat: no-repeat;
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px; }
      .slider__header--link .facebook {
        background-position: 0px 11px; }
      .slider__header--link .instagram {
        background-position: -48px 11px; }
      .slider__header--link .twitter {
        background-position: -147px 11px; }
      .slider__header--link .linkedin {
        width: 48px;
        background-position: -100px 11px; }
    .slider__header--menu {
      background-color: black;
      cursor: pointer;
      padding: 15px;
      margin-right: -15px;
      margin-left: -15px;
      max-height: 100%;
      overflow: hidden;
      left: 0; }
      @media only screen and (max-width: 768px) {
        .slider__header--menu {
          float: right;
          background-color: white; } }
      .slider__header--menu--line {
        background: #FFF; }
        @media only screen and (max-width: 768px) {
          .slider__header--menu--line {
            box-shadow: 0 1px 6px white;
            background: black; } }
      .slider__header--menu--list {
        padding: 20px;
        display: none; }
        .slider__header--menu--list li {
          list-style-type: none;
          position: relative; }
          @media only screen and (max-width: 768px) {
            .slider__header--menu--list li {
              color: white;
              text-align: right; } }
      .slider__header--menu--text {
        color: white;
        font-family: "Dosis", sans-serif;
        float: left;
        font-size: 25px;
        padding-top: 2%;
        transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease; }
        @media only screen and (max-width: 1200px) {
          .slider__header--menu--text {
            padding-top: 4%; } }
        @media only screen and (max-width: 768px) {
          .slider__header--menu--text {
            padding-top: 5%; } }
      .slider__header--menu.active .slider__header--menu--line:nth-child(2), .slider__header--menu.active .slider__header--menu--line:nth-child(3) {
        opacity: 0;
        display: block; }
      .slider__header--menu.active .slider__header--menu--line:nth-child(1) {
        height: 1000px;
        width: 1000px;
        margin: -20px;
        margin-left: -40px; }
      .slider__header--menu .slider__header--menu--line {
        height: 4px;
        width: 40px;
        box-shadow: 0 1px 6px #000;
        margin: 10px;
        opacity: 1;
        transition: all 600ms ease; }
        @media only screen and (max-width: 768px) {
          .slider__header--menu .slider__header--menu--line {
            box-shadow: 0 1px 6px white; } }
      .slider__header--menu:not(.active) .slider__header--menu--list li {
        position: relative;
        opacity: 0;
        margin-bottom: -10px; }
      .slider__header--menu .slider__header--menu--list li {
        opacity: 1;
        font-size: 16px;
        margin-bottom: 20px;
        transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease; }
      .slider__header--menu .slider__header--menu--list li:hover {
        padding-left: 5px; }
  .slider__content {
    text-align: center;
    color: white;
    position: relative; }
    .slider__content--top {
      margin-top: 7%;
      display: inline-block; }
      @media only screen and (max-width: 992px) {
        .slider__content--top {
          margin-top: 3%; } }
      @media only screen and (max-width: 768px) {
        .slider__content--top {
          margin-top: 0%; } }
      .slider__content--top svg {
        width: 150px;
        height: 100px; }
        @media only screen and (max-width: 768px) {
          .slider__content--top svg {
            width: 60px;
            height: 100px; } }
        .slider__content--top svg line {
          stroke: white;
          stroke-width: 3; }
      .slider__content--top--text {
        margin-top: -10%;
        font-family: "Dosis", sans-serif;
        font-size: 25px;
        padding: 15px; }
        @media only screen and (max-width: 768px) {
          .slider__content--top--text {
            font-size: 20px; } }
    .slider__content--title {
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700; }
      @media only screen and (max-width: 768px) {
        .slider__content--title {
          font-size: 30px; } }
    .slider__content--check {
      color: white;
      background-color: transparent;
      border-radius: 40%;
      border: 2px solid white;
      display: block;
      padding: 15px 25px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: "Quicksand", sans-serif;
      margin: 0 auto;
      letter-spacing: 5px; }
      @media only screen and (max-width: 768px) {
        .slider__content--check {
          font-size: 10px;
          padding: 10px 20px; } }
    .slider__content--bottom {
      color: white;
      background-color: transparent;
      border-color: transparent;
      display: block;
      font-size: 40px;
      text-transform: uppercase;
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      margin: 0 auto;
      letter-spacing: 5px;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      margin-top: 20%; }
      @media only screen and (max-width: 768px) {
        .slider__content--bottom {
          margin-top: 20%;
          font-size: 20px; } }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: 0 none;
  padding: 0; }

.numbers {
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: "Quicksand", sans-serif;
  color: #454545;
  text-align: center; }
  .numbers .numbers__circle {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 3px solid #e6e3e3;
    text-align: center;
    margin: 0 auto; }
    .numbers .numbers__circle--count {
      font-weight: 700;
      font-size: 60px;
      margin-top: -80%; }
    .numbers .numbers__circle .red {
      border: 5px solid #f34739;
      color: #f34739;
      border-bottom-color: transparent;
      border-right-color: transparent; }
    .numbers .numbers__circle .green {
      border: 5px solid #009980;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent; }
    .numbers .numbers__circle .blue {
      border: 5px solid #152b3c;
      border-right-color: transparent; }
    .numbers .numbers__circle--animation {
      animation: rotate 2.5s 2 linear; }
    .numbers .numbers__circle--colors {
      z-index: 555;
      border-radius: 100%;
      height: 200px;
      width: 200px;
      text-align: center;
      margin-top: -5px;
      margin-left: -5px; }
  .numbers__text {
    color: #454545;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%; }
  .numbers--red {
    color: #f34739; }
  .numbers--green {
    color: #009989; }
  .numbers--blue {
    color: #152b3c; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.top {
  padding: 0px; }
  .top__section {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: -15px;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .top__section {
        height: 200px; } }
    .top__section--team {
      background-image: url("../img/our-team.png"); }
    .top__section--portfolio {
      background-image: url("../img/portfolio.png"); }
    .top__section--brands {
      background-image: url("../img/brands.png"); }
    .top__section--border {
      position: absolute;
      text-align: center;
      border: 3px solid white;
      width: 70%;
      height: 70%;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
      @media only screen and (max-width: 768px) {
        .top__section--border {
          width: 95%;
          height: 80%; } }
      .top__section--border svg {
        width: 150px;
        height: 60px; }
        @media only screen and (max-width: 992px) {
          .top__section--border svg {
            width: 100px; } }
        @media only screen and (max-width: 768px) {
          .top__section--border svg {
            width: 70px; } }
        @media (max-width: 500px) {
          .top__section--border svg {
            width: 50px; } }
        .top__section--border svg line {
          stroke: white;
          stroke-width: 3; }
      .top__section--border--text {
        margin-top: -15%;
        font-family: "Dosis", sans-serif;
        font-size: 23px;
        padding: 15px; }
        @media only screen and (max-width: 768px) {
          .top__section--border--text {
            font-size: 18px;
            padding: 10px; } }
        @media (max-width: 500px) {
          .top__section--border--text {
            font-size: 17px; } }
        @media (max-width: 400px) {
          .top__section--border--text {
            font-size: 15px;
            padding: 10px;
            padding-top: 5px; } }
      .top__section--border--title {
        font-family: "Quicksand", sans-serif;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 700;
        margin-top: -2%; }
        @media only screen and (max-width: 768px) {
          .top__section--border--title {
            margin-top: -3%;
            font-size: 50px; } }
        @media (max-width: 500px) {
          .top__section--border--title {
            font-size: 40px; } }
        @media (max-width: 400px) {
          .top__section--border--title {
            font-size: 40px; } }

.team {
  margin-top: 5%;
  margin-bottom: 5%; }
  .team__photo {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    padding: -15px;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .team__photo {
        padding: 0; } }
    @media only screen and (max-width: 768px) {
      .team__photo {
        width: 100%; } }
    .team__photo--adrianna {
      background-image: url("../img/team-adrianna.png"); }
    .team__photo--olivia {
      background-image: url("../img/team-olivia.png"); }
    .team__photo--thomas {
      background-image: url("../img/team-thomas.png"); }
    .team__photo--taylor {
      background-image: url("../img/team-taylor.png"); }
    .team__photo--border {
      position: absolute;
      border: 3px solid white;
      border-right-color: transparent;
      width: 95%;
      height: 80%;
      top: 0;
      bottom: 0;
      right: -3px;
      margin: auto; }
      .team__photo--border--push {
        border-left-color: transparent;
        border-right-color: white;
        right: 0;
        left: -26px;
        top: 0;
        bottom: 0; }
        .team__photo--border--push--triangle {
          position: absolute;
          top: 0;
          bottom: 0;
          left: -4px;
          width: 0;
          height: 0;
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 50px solid white;
          margin: auto 0; }
          @media only screen and (max-width: 768px) {
            .team__photo--border--push--triangle {
              right: 0;
              margin: 0 auto;
              border-right: 40px solid transparent;
              border-left: 40px solid transparent;
              border-top: 50px solid white; } }
      .team__photo--border--triangle {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 50px solid white;
        margin: auto 0; }
        @media only screen and (max-width: 768px) {
          .team__photo--border--triangle {
            left: 0;
            margin: 0 auto;
            border-right: 40px solid transparent;
            border-left: 40px solid transparent;
            border-top: 50px solid white; } }
      @media only screen and (max-width: 768px) {
        .team__photo--border {
          top: -33px;
          bottom: 0;
          right: 0;
          left: 0;
          border: 3px solid white;
          width: auto;
          height: 90%;
          padding-right: 0;
          margin-right: 20px;
          margin-left: 20px; } }
  .team__text {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: black;
    padding-left: 0;
    padding-right: 0; }
    .team__text--name {
      font-size: 25px;
      margin: 0;
      padding-top: 10%; }
    .team__text--profession {
      font-size: 15px;
      margin-bottom: 0; }
    .team__text svg {
      width: 150px;
      height: 20px; }
      .team__text svg line {
        stroke: #f34739;
        stroke-width: 3; }
    .team__text--description {
      font-size: 18px;
      max-width: 60%;
      margin-left: 20%; }
    .team__text--border {
      border: 3px solid black;
      border-left-color: transparent;
      height: 240px;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 20px; }
      .team__text--border--pull {
        border-left-color: black;
        border-right-color: transparent;
        margin-left: 20px;
        margin-right: 0; }
      @media only screen and (max-width: 768px) {
        .team__text--border {
          border-left-color: black;
          border-right-color: black;
          margin-right: 20px;
          margin-left: 20px;
          border-bottom-color: transparent;
          margin-bottom: 0; } }

.portfolio .seven__cols {
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: 100%; }
  @media (min-width: 768px) {
    .portfolio .seven__cols .col-md-1,
    .portfolio .seven__cols .col-sm-1,
    .portfolio .seven__cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      padding-right: 0px;
      padding-left: 0px; } }
  @media (min-width: 992px) {
    .portfolio .seven__cols .col-md-1,
    .portfolio .seven__cols .col-sm-1,
    .portfolio .seven__cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      padding-right: 0px;
      padding-left: 0px; } }
  @media (min-width: 1200px) {
    .portfolio .seven__cols .col-md-1,
    .portfolio .seven__cols .col-sm-1,
    .portfolio .seven__cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      padding-right: 0px;
      padding-left: 0px; } }
  .portfolio .seven__cols .col-xs-4 {
    padding: 0; }
    .portfolio .seven__cols .col-xs-4 img {
      width: 100%; }
  .portfolio .seven__cols .portfolio__photo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0; }
    .portfolio .seven__cols .portfolio__photo img {
      position: relative;
      margin: 0 0 0 0;
      padding: 0 0 0 0; }
    .portfolio .seven__cols .portfolio__photo--overlay {
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .portfolio .seven__cols .portfolio__photo--overlay img {
        position: relative;
        z-index: 50;
        width: auto;
        padding-top: 30%; }
      .portfolio .seven__cols .portfolio__photo--overlay svg {
        height: 30px;
        width: 90%; }
        .portfolio .seven__cols .portfolio__photo--overlay svg line {
          stroke-width: 3;
          stroke: black; }
          @media only screen and (max-width: 992px) {
            .portfolio .seven__cols .portfolio__photo--overlay svg line {
              stroke-width: 2; } }
      .portfolio .seven__cols .portfolio__photo--overlay--text {
        color: black;
        font-size: 14px; }
        @media only screen and (max-width: 1200px) {
          .portfolio .seven__cols .portfolio__photo--overlay--text {
            font-size: 12px; } }
        @media only screen and (max-width: 992px) {
          .portfolio .seven__cols .portfolio__photo--overlay--text {
            font-size: 9px; } }
    .portfolio .seven__cols .portfolio__photo--overlay:hover, .portfolio .seven__cols .portfolio__photo--overlay:focus + .portfolio__photo:hover {
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s; }
  .portfolio .seven__cols .portfolio__photo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 1s;
    -webkit-transition: all 1s; }

.brands {
  text-align: center; }
  .brands__flex--container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    border-bottom: 3px solid #f5f5f5; }
    .brands__flex--container--item {
      border-right: 3px solid #f5f5f5;
      border-left: 3px solid #f5f5f5;
      padding: 25px;
      min-width: 135px; }
      .brands__flex--container--item img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%); }
      @media only screen and (max-width: 992px) {
        .brands__flex--container--item {
          min-width: 100px;
          padding-left: 0px;
          padding-right: 0px; } }
      @media only screen and (max-width: 768px) {
        .brands__flex--container--item {
          min-width: 130px; } }
      @media screen and (max-width: 420px) {
        .brands__flex--container--item {
          min-width: 100px; } }
      .brands__flex--container--item:hover img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%); }
      .brands__flex--container--item:last-child {
        border-right-color: transparent; }
      .brands__flex--container--item:nth-child(1) {
        border-left-color: transparent; }
      @media only screen and (max-width: 768px) {
        .brands__flex--container--item:nth-child(3) {
          border-left-color: transparent; } }
      @media only screen and (max-width: 768px) {
        .brands__flex--container--item:nth-child(5) {
          border-right-color: transparent; } }

.foot {
  padding: 0;
  text-align: center; }
  .foot__up {
    background-color: #101010; }
    .foot__up--all {
      margin: 0 auto; }
      .foot__up--all--title {
        padding-top: 8%;
        font-family: "Quicksand", sans-serif;
        font-weight: 300;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 0; }
      .foot__up--all--text {
        margin-left: 25%;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        color: #464646;
        font-size: 15px;
        width: 50%;
        padding-bottom: 5%; }
      .foot__up--all--line {
        height: 7px;
        width: 40%;
        stroke: #009989;
        padding-bottom: 3%; }
        @media only screen and (max-width: 768px) {
          .foot__up--all--line {
            width: 30%; } }
  .foot__down {
    background-color: #0e0e0d;
    padding: 1%; }
    .foot__down--text {
      color: #3a3a3a;
      font-weight: 300;
      font-family: "Quicksand", sans-serif; }
