.top {
  padding: 0px;
  text-align: center;

  &__section {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: -15px;
    position: relative;
    @media#{$xs-screen}{
      height: 200px;}

    &--team {
      background-image: url('../img/our-team.png');
    }

    &--portfolio {
      background-image: url('../img/portfolio.png');
    }

    &--brands {
      background-image: url('../img/brands.png');
    }

    &--border {
      position: absolute;
      text-align: center;
      border: 3px solid white;
      width: 70%;
      height: 70%;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      @media#{$xs-screen}{
        width: 95%;
        height: 80%;
      }

      &--text {
        font-family: $font-dosis;
        font-size: 20px;
        padding: 60px;
        display: table;
        white-space: nowrap;
        margin:0 auto;
        @media #{$xs-screen} {
          font-size: 15px;
        }

        &:before, &:after {
          border-top: 1px solid white;
          content: '';
          display: table-cell;
          position: relative;
          top: 0.7em;
          width: 30%;
        }

        &:before {
          right: 4%;
        }
        &:after {
          left: 4%;
        }
      }


      &--title {
        font-family: $font-quicksand;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        margin-top: -6%;
        @media#{$md-screen}{
          margin-top: -9%;
        }
        @media#{$sm-screen}{
          margin-top: -10%;
        }
        @media (max-width: 600px) {
          margin-top: -15%;
        }
        @media (max-width: 400px) {
          margin-top: -20%;
        }
      }
    }
  }
}