.numbers {
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: $font-quicksand;
  color: #454545;
  text-align: center;

  .numbers__circle {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 3px solid #e6e3e3;
    text-align: center;
    margin: 0 auto;
    position: relative;

    &--inside {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &--count {
        font-weight: 700;
        font-size: 60px;
      }
    }

    .red {
      border: 5px solid #f34739;
      color: #f34739;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    .green {
      border: 5px solid #009980;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
    }

    .blue {
      border: 5px solid #152b3c;
      border-right-color: transparent;
    }

    &--animation {
      animation: rotate 2.5s 2 linear;
    }

    &--colors {
      z-index: 555;
      border-radius: 100%;
      height: 200px;
      width: 200px;
      text-align: center;
      margin-top: -5px;
      margin-left: -5px;
    }
  }

  &__text {
    color: #454545;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
  }

  &--red {
    color: #f34739;
  }

  &--green {
    color: #009989;
  }

  &--blue {
    color: #152b3c;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


