.numbers{
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: $font-quicksand;
  color:#454545;
  text-align: center;
  .numbers__circle {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 5px solid #e6e3e3;
    text-align: center;
    margin-left: 20%;
    @media#{$xs-screen}{
      margin-left: 30%;
    }
    @media (max-width:350px){
      margin-left: 20%;
    }

    &--count {
      font-weight: 700;
      font-size: 60px;
      padding-top: 20%;
      margin-bottom: 0px;
    }
  }
  &__text{
    color:#454545;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    @media#{$md-screen}{
      margin-left: 30%;
    }
    @media#{$sm-screen}{
      margin-left: 40%;
    }
    @media#{$xs-screen}{
      width: 60%;
      margin-left: 15%;
    }
    @media (max-width:600px){
      margin-left: 20%;
  }
    @media (max-width:500px){
      margin-left: 25%;
    }
    @media (max-width:400px){
      margin-left: 30%;
    }
    @media (max-width:350px){
      margin-left: 25%;
    }
  }
}
.number{
  &--first{
    color:#f34739;
  }
  &--second{
    color:#009989;
  }
  &--three{
    color:#152b3c;
  }
}


.loader {
  font-size: 1.5em;
  color: gray;
  position: relative;
  padding: 3px;
  /* make a square */
  height: 250px;
  width: 250px;
  /* center content*/
  display: flex;
  align-items: center;
  justify-content: center;
  animation: coloranim infinite 5s;
}


.loader:after {
  border-radius: inherit;
  color: inherit;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: linear-gradient(white, white), linear-gradient(0deg, transparent 40%, currentcolor 60%), linear-gradient(50deg, transparent 50%, currentcolor 52%);
  background-clip: content-box, border-box, border-box;
  z-index: -1;
  mix-blend-mode: multiply;/* if avalaible, else bg remains white */
}

.spin:after {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}