.portfolio{

  .seven__cols{
      margin-right: 0px !important;
      margin-left: 0px !important;
      width: 100%;
      @media (min-width: 768px) {
        .col-md-1,
        .col-sm-1,
        .col-lg-1 {
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
          padding-right: 0px;
          padding-left: 0px;}}
      @media (min-width: 992px) {
        .col-md-1,
        .col-sm-1,
        .col-lg-1 {
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
          padding-right: 0px;
          padding-left: 0px;} }
      @media (min-width: 1200px) {
        .col-md-1,
        .col-sm-1,
        .col-lg-1 {
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
          padding-right: 0px;
          padding-left: 0px;}}

      .col-xs-4 {
        padding: 0;
        img {
          width: 100%;
        }
      }

    .portfolio__photo {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%);

      position: relative;
      margin: 0 0 0 0;
      padding: 0 0 0 0;

      img{
        position: relative;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }

      &--overlay {
        opacity: 0;
        position: absolute;
        text-align: center;
        top:0;
        left:0;
        right:0;
        bottom: 0;

        img {
          position: relative;
          z-index: 50;
          width:auto;
          padding-top:30%;
        }

        svg{
          height: 30px;
          width: 90%;

          line{
            stroke-width: 3;
            stroke: black;
            @media#{$sm-screen}{
              stroke-width: 2;
            }
          }
        }

        &--text{
          color: black;
          font-size: 14px;
          @media#{$md-screen}{
            font-size: 12px;}
          @media#{$sm-screen}{
            font-size: 9px;}
        }
      }

      &--overlay:hover,
      &--overlay:focus+.portfolio__photo:hover{
        opacity: 1;
        transition: all 1s;
        -webkit-transition: all 1s;
      }
    }
    
    .portfolio__photo:hover{
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      filter: grayscale(0%);

      transition: all 1s;
      -webkit-transition: all 1s;
    }
  }
}