.slider {
  background-image: url('../img/slider-background.png');
  height: 800px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto;

  @media#{$sm-screen}{
    height: 600px;
  }

  @media#{$xs-screen}{
    height: 500px;
  }

  &__header {
    background-color: white;
    max-height: 82px;

    &--logo {
      padding: 15px 20px;
      border: 2px solid #f34739;
      border-bottom-right-radius: 20%;
      border-bottom-left-radius: 20%;
      border-top-left-radius: 20%;
      font-family: $font-dosis;
      font-weight: 300;
      font-size: 25px;
      margin-left: 10%;
      line-height: 3.5;
      letter-spacing: 5px;

      @media#{$xs-screen}{
        //line-height: 4;
      }
    }

    &--link {
      float: right;

      .facebook, .instagram, .twitter, .linkedin {
        background-image: url('../img/slider-sprites.png');
        background-repeat: no-repeat;
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px;
      }

      .facebook {
        background-position: 0px 11px;
      }

      .instagram {
        background-position: -48px 11px;
      }

      .twitter {
        background-position: -147px 11px;
      }

      .linkedin {
        width: 48px;
        background-position: -100px 11px;
      }
    }

    &--menu {
      background-color: black;
      cursor: pointer;
      padding: 15px;
      margin-right: -15px;
      margin-left: -15px;
      max-height: 100%;
      overflow: hidden;
      position: relative;
      left: 0;

      @media#{$xs-screen}{
        float: right;
        background-color: white;
      }

      &--line {
        background: #FFF;

        @media#{$xs-screen} {
          box-shadow: 0 1px 6px white;
          background: black;
        }
      }

      &--list {
        padding: 20px;

        li {
          list-style-type: none;

          @media#{$xs-screen}{
            color: white;
            text-align: right;
          }

        }
      }

      &--text {
        color: white;
        font-family: $font-dosis;
        float: left;
        font-size: 25px;
        padding-top: 2%;
        transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease;

        @media#{$md-screen} {
          padding-top: 4%;
        }

        @media#{$xs-screen} {
          padding-top: 5%;
        }
      }

      &.active &--line:nth-child(2),
      &.active &--line:nth-child(3) {
        opacity: 0;
      }

      &.active &--line:nth-child(1) {
        height: 1000px;
        width: 1000px;
        margin: -20px;
        margin-left: -40px;
      }

      & &--line {
        height: 4px;
        display: block;
        width: 40px;
        box-shadow: 0 1px 6px #000;
        margin: 10px;
        opacity: 1;
        transition: all 600ms ease;

        @media#{$xs-screen} {
          box-shadow: 0 1px 6px white;
        }
      }

      &:not(.active) &--list li {
        position:relative;
        opacity: 0;
        margin-bottom: -10px;
      }

      & &--list li {
        opacity: 1;
        font-size: 16px;
        margin-bottom: 20px;
        transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease;
      }

      & &--list li:hover {
        padding-left: 5px;
      }
    }
  }

  &__content{
    text-align: center;
    color: white;
    position: relative;
    &--top{
      margin-top: 7%;
      display: inline-block;
      @media #{$sm-screen} {
        margin-top: 3%;
      }
      @media #{$xs-screen} {
        margin-top: 0%;
      }
      svg{
        width: 150px;
        height: 100px;
        @media #{$xs-screen} {
          width: 60px;
          height: 100px;
        }
        line{
          stroke:white;
          stroke-width: 3;
        }
      }
      &--text{
        margin-top: -10%;
        font-family: $font-dosis;
        font-size: 25px;
        padding: 15px;
        @media #{$xs-screen} {
          font-size: 20px;
        }
      }
    }
    &--title{
      font-family: $font-quicksand;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      @media #{$xs-screen} {
        font-size: 30px;
      }
    }
    &--check{
      color: white;
      background-color: transparent;
      border-radius: 40%;
      border: 2px solid white;
      display: block;
      padding: 15px 25px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: $font-quicksand;
      margin:0 auto;
      letter-spacing: 5px;
      @media #{$xs-screen} {
        font-size: 10px;
        padding: 10px 20px;
      }
    }
    &--bottom{
      color: white;
      background-color: transparent;
      border-color: transparent;
      display: block;
      font-size: 40px;
      text-transform: uppercase;
      font-family: $font-quicksand;
      font-weight: 300;
      margin:0 auto;
      letter-spacing: 5px;
      transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -o-transform:rotate(90deg);
      margin-top: 20%;
      @media #{$xs-screen} {
        margin-top: 20%;
        font-size: 20px;
      }
    }
  }
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: 0 none;
  padding: 0;
}















