.slider {
  background-image: url('../img/slider-background.png');
  height: 800px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto;
  @media#{$sm-screen}{
    height: 600px;
  }
  @media#{$xs-screen}{
    height: 500px;
  }

  &__header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    z-index: 3;

    &--logo {
      padding: 15px 20px;
      border: 2px solid #f34739;
      border-bottom-right-radius: 20%;
      border-bottom-left-radius: 20%;
      border-top-left-radius: 20%;
      font-family: $font-dosis;
      font-weight: 300;
      font-size: 25px;
      margin-left: 10%;
      line-height: 3.5;
      letter-spacing: 5px;
    }

    &--link {
      float: right;

      .facebook, .instagram, .twitter, .linkedin {
        background-image: url('../img/slider-sprites.png');
        background-repeat: no-repeat;
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px;
      }

      .facebook {
        background-position: 0px 11px;
      }

      .instagram {
        background-position: -48px 11px;
      }

      .twitter {
        background-position: -147px 11px;
      }

      .linkedin {
        width: 48px;
        background-position: -100px 11px;
      }
    }
    &--menu{
      background-color: #0e0e0d;
      height: 87px;
      @media#{$xs-screen}
      {
        background: white;
      }

      &--text{
        font-size: 30px;
        color:white;
        position: relative;
        font-weight: 300;
        top:15px;
        z-index: 4;
      }

      &--button {
        transition: 0.1s transform linear;
        position: relative;
        background:0;
        float: left;
        margin: 2rem;
        height: 2.7rem;
        width: 3.5rem;
        z-index: 10;
        outline: 0;
        padding: 0;
        border: 0;
        @media#{$xs-screen}{
          float: right;
        }

        &--middle {

          &, &::before, &::after {
            transition: 0.1s background linear;
            position: absolute;
            background: white;
            margin: auto;
            width: 100%;
            height: 0.3rem;
            content: '';
            top: 50%;
            right: 0;
            @media#{$xs-screen}{
              background: black;  }
          }

          & {
            margin-top: -0.2rem
          }

          &::before {
            top: -1.2rem;
          }

          &::after {
            top: 1.2rem;
          }

          &::before,
          &::after {
            transform: rotate(0deg);
          }

          .active & {
            background: 0;

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }

            &::before,
            &::after {
              top: 0;
            }

            &,
            &::before,
            &::after {
              transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
            }
          }
        }
      }

      nav {
        z-index: 3;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        position: fixed;
        top:0;
        margin-left: -15px;
        transform: translateX(500px);
        transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
        padding-top: 6.2rem;

        .menu-open & {
          transform: translateX(0);
        }

        ul {
          margin: 3% 0 0 0;
          list-style: none;
          padding: 0;

          li {
            text-align: left;
            margin-left: 5%;
            padding-bottom: 3%;

            a {
              font-size: 2em;
              font-family: $font-quicksand;
              color: black;
              font-weight: 700;
              &:hover,&:focus{
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
  }


  &__content{
    text-align: center;
    color: white;
    position: relative;
    top:30px;
    &--top{
      display: inline-block;
      @media #{$sm-screen} {
        margin-top: 3%;
      }
      @media #{$xs-screen} {
        margin-top: 0%;
      }
      svg{
        width: 150px;
        height: 100px;
        @media #{$xs-screen} {
          width: 60px;
          height: 100px;
        }
        line{
          stroke:white;
          stroke-width: 3;
        }
      }

      &--text{
        margin-top: -10%;
        font-family: $font-dosis;
        font-size: 25px;
        padding: 15px;
        @media #{$xs-screen} {
          font-size: 20px;
        }
      }
    }

    &--title{
      font-family: $font-quicksand;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      @media #{$xs-screen} {
        font-size: 30px;
      }
    }

    &--check{
      color: white;
      background-color: transparent;
      border-radius: 40%;
      border: 2px solid white;
      display: block;
      padding: 15px 25px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: $font-quicksand;
      margin:0 auto;
      letter-spacing: 5px;
      @media #{$xs-screen} {
        font-size: 10px;
        padding: 10px 20px;
      }
    }

    &--bottom{
      color: white;
      background-color: transparent;
      border-color: transparent;
      display: block;
      font-size: 40px;
      text-transform: uppercase;
      font-family: $font-quicksand;
      font-weight: 300;
      margin:0 auto;
      letter-spacing: 5px;
      transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -o-transform:rotate(90deg);
      margin-top: 20%;
      @media #{$xs-screen} {
        margin-top: 20%;
        font-size: 20px;
      }
    }
  }
}
/*
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: 0 none;
  padding: 0;
}*/





















